
TestProjectRest/bin/Debug/net5.0/cs
TestProjectRest/bin/Debug/net5.0/de
TestProjectRest/bin/Debug/net5.0/es
TestProjectRest/bin/Debug/net5.0/fr
TestProjectRest/bin/Debug/net5.0/it
TestProjectRest/bin/Debug/net5.0/ja
TestProjectRest/bin/Debug/net5.0/ko
TestProjectRest/bin/Debug/net5.0/pl
TestProjectRest/bin/Debug/net5.0/pt-BR
TestProjectRest/bin/Debug/net5.0/ref
TestProjectRest/bin/Debug/net5.0/ru
TestProjectRest/bin/Debug/net5.0/tr
TestProjectRest/bin/Debug/net5.0/zh-Hans
TestProjectRest/bin/Debug/net5.0/zh-Hant
TestProjectRest/bin/Debug/net5.0/KFC.dll
TestProjectRest/bin/Debug/net5.0/KFC.pdb
TestProjectRest/bin/Debug/net5.0/KFCForm.exe
TestProjectRest/bin/Debug/net5.0/KFCForm.exe.config
TestProjectRest/bin/Debug/net5.0/KFCForm.pdb
TestProjectRest/bin/Debug/net5.0/Microsoft.DotNet.InternalAbstractions.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
TestProjectRest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TestProjectRest/bin/Debug/net5.0/NUnit3.TestAdapter.dll
TestProjectRest/bin/Debug/net5.0/NUnit3.TestAdapter.pdb
TestProjectRest/bin/Debug/net5.0/Newtonsoft.Json.dll
TestProjectRest/bin/Debug/net5.0/NuGet.Frameworks.dll
TestProjectRest/bin/Debug/net5.0/System.Xml.XPath.XmlDocument.dll
TestProjectRest/bin/Debug/net5.0/TestProjectRest.deps.json
TestProjectRest/bin/Debug/net5.0/TestProjectRest.dll
TestProjectRest/bin/Debug/net5.0/TestProjectRest.pdb
TestProjectRest/bin/Debug/net5.0/TestProjectRest.runtimeconfig.dev.json
TestProjectRest/bin/Debug/net5.0/TestProjectRest.runtimeconfig.json
TestProjectRest/bin/Debug/net5.0/nunit.engine.api.dll
TestProjectRest/bin/Debug/net5.0/nunit.engine.core.dll
TestProjectRest/bin/Debug/net5.0/nunit.engine.dll
TestProjectRest/bin/Debug/net5.0/nunit.framework.dll
TestProjectRest/bin/Debug/net5.0/nunit_random_seed.tmp
TestProjectRest/bin/Debug/net5.0/testhost.dll
TestProjectRest/bin/Debug/net5.0/testhost.exe
TestProjectRest/obj
KFC/.vs
KFC/obj
KFCForm/.vs
KFC/bin/Debug/KFC.dll
KFC/bin/Debug/KFC.pdb
KFC/bin/Debug
KFCForm/obj
KFCForm/bin/Debug/KFC.dll
KFCForm/bin/Debug/KFC.pdb
KFCForm/bin/Debug/KFCForm.exe
KFCForm/bin/Debug/KFCForm.exe.config
KFCForm/bin/Debug/KFCForm.pdb
KFCForm/bin/Debug/Menu/potato.jpg

.idea/.idea.tasty-and-funny.dir/.idea/indexLayout.xml
.idea/.idea.tasty-and-funny.dir/.idea/vcs.xml